/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.game-row {
    padding: 30px;
    background: #F9F9F9;
    margin-top: 10px;
}
.game-row label {
    margin-right: 10px;
    font-weight: 700;
}
.team-row {
    display: flex;
    justify-content: space-between;
}
.team-row p {
    padding: 0 20px;
}
.team-row .team {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}
.team-row .team label {
    width: 100px;
}
.team-row .team label.guest {
    text-align: right;
}
.team-row .team .home-team {
    width: 100%;
    padding-right: 20px;
}
.team-row .team .guest-team {
    width: 100%;
    padding-left: 20px;
}
.team-row .team input {
    width: 60px;
}

.time-and-place-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
}
.time-and-place-row label {
    display: block;
    width: 100px;
}
.time-and-place-row .date {
    width: 25%;
}
.time-and-place-row .time {
    width: 25%;
}
.time-and-place-row .arena {
    width: 50%;
}
.time-and-place-row .arena .selectize-control {
    width: 100%;
}

.taxonomies-row {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
    gap: 0 20px;
}
.taxonomies-row label {
    width: 100px;
    display: block;
}
.taxonomies-row .season {
    width: 25%;
}
.taxonomies-row select {
    width: 211px;
}
.taxonomies-row .tournament {
    width: 25%;
}
.taxonomies-row .sponsor {
    width: 50%;
}
.share-row {
    display: flex;
    justify-content: space-between;
}
.share-row select {
    width: 211px;
}

.wp-list-table .column-home_team {
    text-align: right;
}
.wp-list-table .column-score {
    text-align: center;
}

/* Player meta box */
.player-wrapper {
    display: flex;
}
.player-wrapper .featured_image {
    width: 30%;
    padding: 10px;
}
.player-wrapper .featured_image img {
    width: 100%;
}
.player-wrapper .form {
    width: 70%;
    padding: 10px;
}
.player-wrapper label {
    font-weight: 700;
    display: block;
}
.player-wrapper .form .row {
    display: flex;
    justify-content: space-between;
    background: #F9F9F9;
    padding: 10px;
    margin-bottom: 10px;
}
.player-wrapper .form select {
    width: 211px;
}

.video-wrapper .row {
    margin: 10px 0;
    display: flex;
}
.video-wrapper .row label {
    display: inline-block;
    width: 10%;
    font-weight: 700;
}
.video-wrapper .row input,
.video-wrapper .row select {
    width: 70%;
}


    /* Players table */
.widefat thead tr th#player_photo {
    width: 80px !important;
}